.iconButton {
  margin: 10px;
  float: right;
}

.body {
  margin: 50px;
}

.serviceGrid {
  margin-bottom: 40px;
}

.comment {
  font-size: x-large;
}

.area {
  margin: 20px;
  width: 98%;
  min-width: 98%;
  max-width: 98%;
}

.btn {
  margin: 20px;
  float: right;
}